.leave1 {
  margin-left: 20%;
  font-family: Inter;
}
.flex {
  display: flex;
  padding-left: 20px;
}
.flex-column {
  flex-direction: column;
}
.justify-left {
  justify-content: left;
}
.pv-10 {
  padding-left: 10px;
  padding-right: 10px;
}
