.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
  align-items: center;
}
.dashboard{
  margin-left: 20%;
  margin-right: 100px;
}