.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
  align-items: center;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.mh-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  background-color: #c4c4c4;
  align-self: center;
  padding: 12px;
  margin: 10px;
  border: none;
  color: black;
  width: 80%;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  border: none;
  margin-top: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ph-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ph-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bb {
  display: block;
  border-bottom: 3px solid black;
}

.h-10 {
  height: 10%;
}
.justify-between {
  justify-content: space-between;
}
.w-70 {
  width: 70%;
}
.self-center {
  align-self: center;
}
.dn {
  display: none;
}
.dashboard {
  width: 70%;
  margin-left: 400px;
  margin-top: 20px;
}
.heading {
  text-align: left;
}
.pv-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pv-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.mh-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.pl-100 {
  padding-left: 100px;
}
.leave {
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 20px;
}
